/*Top Level UL */
#Container ul{

}
/*Top Level LI */
#Container ul li{
	float: left;
}
/*Top Level A */
#Container ul li a{

}

/* Second Level UL */
#Container ul li ul{
	position: absolute;
	left: -9999px;
}
/* Bring back second UL on parent LI hover */
#Container ul li:hover ul{
	left: 0;
}
/* Second Level LI*/
#Container ul li ul li{
	float: none;
}
/* Second Level A */
#Container ul li ul li a{

}

/* Third Level UL */
#Container ul li ul li ul{

}
/* Third Level LI */
#Container ul li ul li ul li{
	float: none;
}
/* Third Level A */
#Container ul li ul li ul li a{

}